* {
	margin: 0;
	padding: 0;
}

body {
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(153,148,233,0.6054796918767507) 62%), url(astro.gif);
}

main {
	display: inline;
	text-align: center;
	align-items: center;
	widows: 100%;
	height: 1000px;
}

.madre {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
}

.titulo {
	margin-top: 50px;
	font-size: 60px;
	color: #fff;
	font-family: serif;
	transition-duration: 0.5s;
}

.titulo:hover {
	font-size: 80px;
}

.titulo a {
	color: #5A008D;
	font-family: 'Noto Serif', serif;

}

.linear {
	width: 200px;
	height: 10px;
	margin: 0px auto;
	border-radius: 20px;
	background-color: #b9a7fc;
	transition-duration: 0.5s;
}

.linear:hover {
	width: 500px;
}

.caja-led1 h2 {
	color: #fff;
	font-family: 'Crimson Text', serif;
}

.caja-led1 {
	width: 130px;
	margin: auto;
	margin-top: 100px;
	padding: 10px;
	border: solid #fff;
	background-size: cover;
	background: rgb(184,171,212);
	background: linear-gradient(0deg, rgba(184,171,212,0.17690826330532217) 0%, rgba(188,99,203,0.10127801120448177) 100%);
	border-radius: 15px;
	text-align: center;
	transition-duration: 1s;
}

.caja-led1:hover {
	width: 140px;
	padding: 20px;
	font-size: 20px;
	background: rgba(79, 79, 79, 0.42);
	border: solid black;
}

.estado {
	color: #fff;
}

.caja-led1:nth-child(3){
	width: 200px;
}

.bot-sensor {
	width: 100px;
	border-radius: 40%;
}

button {
	width: 40px;
	height: 40px;
	margin: 10px;
	padding: 2px;
	border-radius: 50%;
	border: none;
	transition-duration: 0.7s; 
}

button:hover {
	width: 90px;
	border-radius: 5px;
	background: rgba(79, 79, 79, 0);
	border: 1px solid #fff;
	color: #fff;
	font-size: 17px;
}